In [1]:
import numpy as np
import pandas as pd
scroes = np.random.randint(50, 100,size=(50,5))
scores_df = pd.DataFrame(scroes,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores_df
sum_values = scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values

In [2]:
scores_df.sort_values(by='總分',ascending=False).iloc[:5]

    國文  英文  數學  地理  歷史   總分    平均
18  92  83  86  98  94  453  90.6
3   97  83  95  58  91  424  84.8
33  99  80  96  83  59  417  83.4
50  50  94  88  98  86  416  83.2
8   80  78  91  70  87  406  81.2

In [6]:
#使用subscript[],過濾資料
scores_df[scores_df['平均'] < 70]

    國文  英文  數學  地理  歷史   總分    平均
7   52  50  55  95  67  319  63.8
9   58  78  63  56  76  331  66.2
10  57  74  57  92  60  340  68.0
11  52  97  84  53  58  344  68.8
13  85  53  54  63  64  319  63.8
17  53  79  67  76  58  333  66.6
23  66  50  57  84  83  340  68.0
24  63  50  85  95  54  347  69.4
25  53  67  55  78  53  306  61.2
27  75  55  97  58  63  348  69.6
32  63  63  58  50  50  284  56.8
40  72  71  53  78  56  330  66.0
41  88  53  83  52  64  340  68.0
42  73  78  59  65  54  329  65.8
44  60  61  69  60  59  309  61.8
45  62  75  62  55  51  305  61.0
47  66  78  50  87  56  337  67.4
49  62  61  55  69  64  311  62.2

In [7]:
#平均80以下，歷史不及格的
scores_df[(scores_df['平均'] < 80) & (scores_df['歷史'] < 60)]

    國文  英文  數學  地理  歷史   總分    平均
1   75  98  70  69  50  362  72.4
4   84  87  64  93  58  386  77.2
6   72  71  90  78  56  367  73.4
11  52  97  84  53  58  344  68.8
17  53  79  67  76  58  333  66.6
20  70  86  72  78  54  360  72.0
24  63  50  85  95  54  347  69.4
25  53  67  55  78  53  306  61.2
32  63  63  58  50  50  284  56.8
39  66  99  59  90  55  369  73.8
40  72  71  53  78  56  330  66.0
42  73  78  59  65  54  329  65.8
44  60  61  69  60  59  309  61.8
45  62  75  62  55  51  305  61.0
47  66  78  50  87  56  337  67.4

In [10]:
#使用query()的搜尋
scores_df.query('平均<80 and 歷史<60')

    國文  英文  數學  地理  歷史   總分    平均
1   75  98  70  69  50  362  72.4
4   84  87  64  93  58  386  77.2
6   72  71  90  78  56  367  73.4
11  52  97  84  53  58  344  68.8
17  53  79  67  76  58  333  66.6
20  70  86  72  78  54  360  72.0
24  63  50  85  95  54  347  69.4
25  53  67  55  78  53  306  61.2
32  63  63  58  50  50  284  56.8
39  66  99  59  90  55  369  73.8
40  72  71  53  78  56  330  66.0
42  73  78  59  65  54  329  65.8
44  60  61  69  60  59  309  61.8
45  62  75  62  55  51  305  61.0
47  66  78  50  87  56  337  67.4